*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #f2f2f2;
    line-height: 1.6;
}

/* better to use classes for syling and in general avoid ids... Ids are more of a concrete element styling and classes are for reusable style groups  */
#showcase {
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}

#showcase p{
    font-size: 20px;
}

#showcase .button{
    font-size:18px;
    text-decoration: none;
    color: #f2f2f2;
    border: #f2f2f2 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;

}

#showcase .button:hover{
    background: #f2f2f2;
    color: #000000;
}