*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #f2f2f2;
    line-height: 1.6;
}

<<<<<<< HEAD
.showcase{
=======
/* better to use classes for syling and in general avoid ids... Ids are more of a concrete element styling and classes are for reusable style groups  */
#showcase {
>>>>>>> 2f6ce21ac9695932a7c69dae694b16ba754830e5
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

<<<<<<< HEAD
.main{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgba(43, 88, 118, 0.6) 0%, rgba(61, 77, 118, 0.5) 50%, rgba(76, 68, 118, 0.61) 95%, rgba(78, 67, 118, 0.61) 100%);
    background: -o-linear-gradient(bottom, rgba(43, 88, 118, 0.6) 0%, rgba(61, 77, 118, 0.5) 50%, rgba(76, 68, 118, 0.61) 95%, rgba(78, 67, 118, 0.61) 100%);
    background: -ms-linear-gradient(bottom, rgba(43, 88, 118, 0.6) 0%, rgba(61, 77, 118, 0.5) 50%, rgba(76, 68, 118, 0.61) 95%, rgba(78, 67, 118, 0.61) 100%);
    background: -moz-linear-gradient(bottom, rgba(43, 88, 118, 0.6) 0%, rgba(61, 77, 118, 0.5) 50%, rgba(76, 68, 118, 0.61) 95%, rgba(78, 67, 118, 0.61) 100%);
    background: linear-gradient(to top, rgba(43, 88, 118, 0.6) 0%, rgba(61, 77, 118, 0.5) 50%, rgba(76, 68, 118, 0.61) 95%, rgba(78, 67, 118, 0.61) 100%);
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;    
}

.main h1{
=======
#showcase h1{
>>>>>>> 2f6ce21ac9695932a7c69dae694b16ba754830e5
    font-size: 50px;
    line-height: 1.2;
}

.main p{
    font-size: 20px;
}

.main .button{
    font-size:18px;
    text-decoration: none;
    color: #f2f2f2;
    border: #f2f2f2 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.main .button:hover{
    background: #f2f2f2;
    color: #000000;
}